<!DOCTYPE HTML>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>AWS File Hosting</title>
  <style>
    h1 {
      color: #0055AA;
    }
    body {
      font-size: 14px;
      font-family: Calibri, Arial, Helvetica;
      text-align: center;
      margin-top: 90px;
    }
    footer {
      display: block;
      margin-top: 35px;
      color: gray;
    }
  </style>
</head>
<body>
  <h1>Amazon S3 Hosting</h1>
  <form enctype="multipart/form-data" method="POST" action="/upload">
    <label for="select_file">Select File:</label>
    <input id="select_file" name="file" type="file" />
    <input type="submit" value="Upload" />
  </form>
  <footer>
	  &copy; 2011 Nikita Baksalyar
  </footer>
</body>
</html>
