<!DOCTYPE HTML>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>File has been uploaded</title>
  <style>
    h1, h1 a {
      color: #00AA55;
    }
    body {
      font-size: 14px;
      font-family: Calibri, Arial, Helvetica;
      text-align: center;
      margin-top: 90px;
    }
    footer {
      display: block;
      margin-top: 35px;
      color: gray;
    }
    dt {
      font-weight: bold;
    }
    dd {
      margin-bottom: 25px;
    }
  </style>
</head>
<body>
  <h1><a href="/">File Has Been Uploaded</a></h1>
  <dl>
    <dt>File Link</dt>
    <dd><input type="text" value="<%= full_address %>" readonly="true" onclick="this.select();" size="70" id="link" /></dd>

    <% if ['.jpg', '.png', '.gif'].include?(full_address[-4,4]) %>
    <dt>Image Preview</dt>
    <dd><img src="<%= full_address %>" /></dd>

    <dt>Image for Forums</dt>
	<dd>[img]<%=full_address%>[/img]</dd>
    <% end %>

    <dt>Link for Forums</dt>
    <dd>[url=<%=full_address%>]link description here[/url]</dd>
  </dl>
  <footer>
	  &copy; 2011 Nikita Baksalyar
  </footer>
</body>
</html>

